{
    "printWidth": 120,
    "tabWidth": 2,
    "bracketSpacing": true,
    "parser": "typescript",
    "semi": true,
    "trailingComma": "all",
    "singleQuote": true,
    "arrowParens": "avoid"
}
